* {
    margin: 0;
    box-sizing: border-box;

}

.title {
    background-color: black;
    width: 100%;
    height: 6rem;
}

.title #img1 {
    position: absolute;
    width: 40px;
    right: 1.5%;
    top: 2em;


}

.title #img2 {
    position: absolute;
    right: 10%;
    width: 100px;
    margin-right: 34%;
}

.title button {
    position: absolute;
    background-color: red;
    color: white;
    width: 8em;
    height: 3em;
    border-radius: 10px;
    left: 1.5%;
    top: 2.3em;

}

.navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.2em;
    font-size: 24px;
    margin-top: 0.2em;
    text-align: center;
    font-family: 'Assistant', Arial, sans-serif;
    font-weight: 400;
    color: #696b69;
    white-space: nowrap;
    overflow: hidden;
}

.navbar span {
    margin: 1em;
}